<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155364372-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-155364372-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

    <title>Drugo AlgafoodAPI</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Drugo AlgafoodAPI</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/requests">Test API</a>
                <a class="nav-link" href="https://www.drugowick.dev/aboutme.html" target="_blank">Contact</a>
            </nav>
        </div>
    </header>

    <main class="inner cover" role="main">
        <p class="lead">This project is based on a course from Algaworks. Algafood API is a REST API for a food delivery
            solution.</p>
        <hr/>
        <p class="lead"><a
                href="https://insomnia.rest/run/?label=Drugo%20AlgafoodAPI&uri=https%3A%2F%2Falgafoodapi.herokuapp.com%2FInsomnia_requests.json"
                target="_blank"><img alt="Run in Insomnia" src="https://insomnia.rest/images/run.svg"></a></p>
        <hr/>
        <p class="lead">Some endpoints you can try via browser (GET requests):</p>

        <p>
            <a href="/provinces">/provinces</a>
            <a href="/provinces/1">/provinces/1</a>
            <a href="/cities">/cities</a>
            <a href="/cities/1">/cities/1</a>
            <a href="/cuisines">/cuisines</a>
            <a href="/cuisines/1">/cuisines/1</a>
            <a href="/restaurants">/restaurants</a>
            <a href="/restaurants/1">/restaurants/1</a>
        </p>
        <hr/>
        <p class="lead">
            <a class="btn btn-lg btn-secondary" href="https://github.com/brunodrugowick/algafood-api">GitHub
                Repository</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Using Cover template for <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>, by <a
                    href="https://twitter.com/mdo" target="_blank">@mdo</a>.</p>
        </div>
    </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
